html {
    background-color: #131516;
    color: #c5c5c5;
}

body {
    padding: 5% 10% 0 10%;
}

a {
    color: #FF357A;
}

p, li {
    font-size: 1em;
    line-height: 2;
    font-family: DejaVu Serif;
    color: snow;
}

