.demonic-docs {
    position: relative;
}

.demonic-docs > .demonic-web {
    height: 10em;
}

.hide {
    visibility: hidden;
}

.copyMsg {
    color: #fff;
    background-color: #333;
    border-radius: 6px;
    padding: 1em;
    font-size: 0.8em;
    position: absolute;
    right: -5px;
    top: -50px;
    margin: 0;
}

div.sourceCode {
    overflow: unset;
}

.CodeMirror {
    border: 1px solid #eee;
    height: auto;
}

#status {
    display: none;
}

